body
{
	margin:0;
	padding:0;
	overflow-x: hidden;
	width:100%;
	height:80%;
}
.inbody1
{
	display:flex;
	flex-direction: row;
	background-color:white;
	color:white;
	padding-left:47%;
	height:100px;
	padding-top:10px;


}
.inbody1-1
{
flex:1 1 50%;

}
.inbody1-1 img
{
	width:85px;
	height:85px;
}
.userimg
{
	border-radius: 200%;
	margin-left:50%;
}
.inbody1-2
{
	flex:1 1 50%;
	display:flex;
	font-size: 20px;
	align-items: center;
	justify-content: flex-start;
	margin-left:-80px;
}
.inbody1-2 li
{
	list-style-type: none;
}
.order-body
{
	border-bottom:1px solid rgba(170,113,196,0.13);
	height:50vh;
}
.order-inf
{
	border-bottom:1px solid rgba(170,113,196,0.13);
   justify-content: center;
	height:40px;
	display:flex;
	align-items: center;
}
.order-inf span
{
	text-align: center;
	font-size:16px;
}
.order-list
{
	display:flex;
	border-bottom:1px solid rgba(170,113,196,0.13);

}
.order-doing
{
	flex:1 1 50%;
	border-right:2px solid rgba(170,113,196,0.13);
	height:40px;
}
.order-done
{
	flex:1 1 50%;
	height:40px;
}
.but
{
	border-bottom:1px solid rgba(170,113,196,0.13);
	text-decoration: none;
	display:block;
	color:black;
	height:40px;
	display:flex;
	align-items: center;
	justify-content: center;
}
.but:hover
{
	background-color:rgba(83,97,53,0.21);
	color:white;
	text-decoration: none;
}
.order-done span
{
	font-size:16px;
	border:none;
}
.order-div
{
	display:flex;
	margin-top:8px;
}
.order-number,.order-content-y,.order-content-z
{
	flex:1 1 auto;
	text-align: center;
}

.order-content-y button
{
	border:none;
	font-size:14px;
	background-color:rgb(235,235,235);
	width:60px;
	height:30px;
}
.order-content-y button:hover
{
	background-color: rgba(17,27,40,0.24);
	color:white;
}
.order-pj-z
{
	flex:1 1 auto;
	text-align: center;
}
.order-time
{
	flex:1 1 auto;
	text-align: center;
}
.order-pj-y
{
	flex:1 1 auto;
	text-align: center;
}
.order-pj-y button
{
	border:none;
	font-size:14px;
	background-color:rgb(235,235,235);
	width:60px;
	height:30px;
}
.order-pj-y button:hover
{
	background-color: rgba(17,27,40,0.24);
	color:white;
}
.order-choose
{
	margin-top:-15px;
}
.order-li
{
    display:flex;
	border-bottom:1px solid rgba(170,113,196,0.13);
	height:40px;
}
.order-a
{
	height:40px;
	text-decoration: none;
	display:block;
	color:black;
	margin-left:-33px;
}
.order-a:hover
{
	background-color:rgba(83,97,53,0.21);
	color:white;
	text-decoration: none;
}
.t1{
	flex:1 1 2%;
	padding-top:7px;
}
.t2{
	flex:1 1 88%;
	padding-top:8px;
}
.t3{
	flex:1 1 10%;
	padding-top:7px;
	text-align: end;
}
.t3 span
{
	margin-right:15px;
}
.cell_bk { display: table; width: 100%; table-layout: fixed; word-wrap: break-word; }
.bk { word-wrap: break-word; }
.pic_div {
width: 300px;
height: 300px;
border-radius: 10px;
display: table-cell;
text-align: center;
vertical-align: middle;
background-color: #fff;
}	
